// 重新定义vxeTable的tooltip
.vxe-table--tooltip-wrapper {
  max-width: 15% !important;
  z-index: 9999999999 !important;
}
/* 消除两个50%div的inline-block间距 */
.vxe-form .vxe-form--item {
  margin-right:-2px;
}
.vxe-modal--body,.vxe-modal--body .vxe-modal--content {
  overflow: visible !important;
}
/*滚动条整体部分*/
.vxe-table-lq div::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/*滚动条的轨道*/
.vxe-table-lq div::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}
/*滚动条里面的小方块，能向上向下移动*/
.vxe-table-lq div::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 5px;
  border: 1px solid #F1F1F1;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
.vxe-table-lq div::-webkit-scrollbar-thumb:hover {
  background-color: #A8A8A8;
}
.vxe-table-lq div::-webkit-scrollbar-thumb:active {
  background-color: #787878;
}
